<div id="playerPage">
  <div id="titleHeader">
    <button id="backButton" class="btn btn-danger pull-left" (click)="goBack()">
      <i class="fa fa-arrow-circle-left"></i> Back</button>
    <h3 id="fileName"></h3>
  </div>
  <div id="player">
    <audio id="audioPlayer" controls autoplay></audio>
  </div>
  <div id="ytPlayer">

  </div>
  <div *ngIf="file" id="notesList" ngClass="{{file.type}}">
    <ul class="list-unstyled">
      <li id="note" *ngFor="let note of file.notes">
        <div id="noteCompartment" (click)="playFrom(note.time)">
          <label class="time" (click)="playFrom(note.time)">
            {{note.time}}
          </label>
          <label class="note" (click)="playFrom(note.time)">
            {{note.note}}
          </label>
          <button class="btn btn-danger actions pull-right" (click)="deleteNote(deleteNoteModal, note)">Delete</button>
          <button class="btn btn-warning actions pull-right" (click)="editNote(editNoteModal, note)">Edit</button>
        </div>
      </li>
    </ul>
  </div>
  <div id="noteTakingModal">
    <label id="currentTime" class="label primary"></label>
    <textarea id="noteTakingArea" class="form-control" rows="2" (keyup)="checkInput()"></textarea>
    <button id="addNote" class="btn btn-success">Add</button>
  </div>
</div>

<ng-template #editNoteModal>
  <div class="modal-header">
    <h3 class="modal-title">Edit Note</h3>
  </div>
  <div class="modal-body">
    <div>
      <textarea id="noteView" class="form-control" rows="4"></textarea>
      <br>
      <button class="closeButton btn btn-danger pull-right" (click)="closeModal()">Close</button>
      <button id="editButton" class="uploadButton btn btn-success pull-right">Edit</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteNoteModal>
  <div class="modal-header">
    <h3 class="modal-title">Delete Note</h3>
  </div>
  <div class="modal-body">
    <div>
      <label id="confirmationText"></label>
      <br>
      <button class="btn btn-danger pull-right" (click)="closeModal()">Cancel</button>
      <button id="deleteButton" class="btn btn-warning pull-right">Yes</button>
    </div>
  </div>
</ng-template>

