<div id="fileListView">
  <ul class="list-unstyled">
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card audio bg-primary">
        <div class="crop text-center">
          <i class="fa fa-music"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card recording bg-warning">
        <div class="crop text-center">
          <i class="fa fa-microphone"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
    <li>
      <div class="card youtube bg-danger">
        <div class="crop text-center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="card-block">
          <h3 class="card-title">Swami Aap Rijo Em Raaji</h3>
          <i class="fa fa-star bookmark"></i>
          <i class="fa fa-pencil edit"></i>
          <i class="fa fa-trash-o trash"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
