<div class="container" id="homePage">
  <div id="topMenu">
    <button id="newFileButton" class="btn btn-primary" (click)="open(insertFileModal)">
      <i class="fa fa-music"></i>
      New File
    </button>
    <button id="newRecButton" class="btn btn-warning" (click)="open(insertRecordingModal)">
      <i class="fa fa-microphone"></i>
      New Recording
    </button>
    <button id="newYTButton" class="btn btn-danger" (click)="open(insertYoutubeModal)">
      <i class="fa fa-youtube"></i>
      New YouTube
    </button>
  </div>
  <div id="menu" class="pull-left">
    <ul id="menuItems" class="list-unstyled text-left">
      <li id="home" class="selected" (click)="filter('home')"><i class="fa fa-home"></i> Home</li>
      <li id="files" (click)="filter('files')"><i class="fa fa-music"></i> Files</li>
      <li id="recordings" (click)="filter('recordings')"><i class="fa fa-microphone"></i> Recordings</li>
      <li id="youtube" (click)="filter('youtube')"><i class="fa fa-youtube"></i> YouTube</li>
      <li id="favorites" (click)="filter('favorites')"><i class="fa fa-star-o"></i> Favorites</li>
    </ul>
  </div>
  <app-files-list [files]="files" [filteredFiles]="filteredFiles"></app-files-list>

  <ng-template #insertFileModal>
    <div class="modal-header">
      <h3 class="modal-title">Insert New File</h3>
    </div>
    <div class="modal-body">
      <div>
        <input id="fileUpload" (change)="inputName()" class="form" type="file" accept="audio/mp3">
        <br>
        <label class="errorNoFile text-danger">Select a file</label>
        <br>
        <h4>Name of file <span class="text-danger">* </span> (Max Characters: 30)</h4>
        <label class="errorUploadFile text-danger">Enter name of file</label>
        <label class="errorDuplicateFile text-danger">File with this name already exists</label>
        <input class="fileName" id="fileName" class="form-control" placeholder="Name of file" maxlength="30" type="text">
        <div class="progress">
          <div class="uploaderProgress progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%; height: 20px;">
            <p id="percentageDone" class="text-center">0%</p>
          </div>
        </div>
        <br>
        <button class="closeButton btn btn-danger pull-right" (click)="closeModal()">Close</button>
        <button class="uploadButton btn btn-success pull-right" (click)="upload()">Upload</button>
      </div>
    </div>
  </ng-template>

  <ng-template #insertRecordingModal>
    <div class="modal-header">
      <h4 class="modal-title">Insert New Recording</h4>
    </div>
    <div class="modal-body">
      <div>
        <input>
        <button class="btn btn-success">Upload</button>
      </div>
    </div>
  </ng-template>

  <ng-template #insertYoutubeModal>
    <div class="modal-header">
      <h4 class="modal-title">Insert New YouTube</h4>
    </div>
    <div class="modal-body">
      <div>
        <h4>YouTube Link <span class="text-danger">* </span></h4>
        <input id="ytLink" class="fileName form-control" placeholder="YouTube Link">
        <label class="errorYTLink text-danger">Enter the YouTube Link</label>
        <label class="invalidYTLink text-danger">Enter a valid YouTube Link</label>
        <h4>Name of file <span class="text-danger">* </span> (Max Characters: 30)</h4>
        <label class="errorUploadFile text-danger">Enter name of file</label>
        <label class="errorDuplicateFile text-danger">File with this name already exists</label>
        <input id="ytFileName" class="fileName form-control" placeholder="Name of file" maxlength="30" type="text">
        <br>
        <button class="closeButton btn btn-danger pull-right" (click)="closeModal()">Close</button>
        <button class="uploadButton btn btn-success pull-right" (click)="uploadYT()">Upload</button>
      </div>
    </div>
  </ng-template>

  <ng-template #deleteFileModal>
    <div class="modal-header">
      <h4 class="modal-title">Delete File</h4>
    </div>
    <div class="modal-body">
      <div>
        <input>
        <button class="btn btn-success">Upload</button>
      </div>
    </div>
  </ng-template>

  <ng-template #editFileModal>
    <div class="modal-header">
      <h4 class="modal-title">Edit File</h4>
    </div>
    <div class="modal-body">
      <div>
        <input>
        <button class="btn btn-success">Upload</button>
      </div>
    </div>
  </ng-template>
</div>
